
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("GetCustomersResidingInGermany", "GetCustomersResidingInGermany")</p>
<p>@Html.ActionLink("GetCustomerDetailsWithId10248", "GetCustomerDetailsWithId10248")</p>